:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: #2196f3 1px solid; */
}

/* index */

/* heder */

/* logo */
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--secondary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo span {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.header-flex {
  display: flex;
  align-items: center;
}

/* nav */
.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

/* contacts */
.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-list-link {
  display: flex;
  align-items: center;
}

.contact-list-icon {
  margin-right: 10px;
}

/* hero */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(50, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-color: #2f303a;
}

/* hero-title */
.hero-title {
  width: 664px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

/* button */
.hero-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* benefits */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.benefits-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.benefits-list-text {
  line-height: 1.71;
}

/* services */

.services.section {
  padding-top: 0;
}

.services-title,
.team-title,
.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

.services-list {
  display: flex;
  gap: 30px;
}

.services-list img {
  display: block;
}

.services-list-link {
  position: relative;
}

.services-list-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.services-list-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

/* team */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  /* flex-basis: calc((100% - 90px) / 4); */
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item img {
  display: block;
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-list-social {
  display: flex;
  width: 206px;
  gap: 10px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.team-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-link:hover,
.team-list-link:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-list-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* clients */

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* portfolio */

/* work-nav */
.work-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.work-nav-btn {
  padding: 6px 25px;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-nav-btn:hover,
.work-nav-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* work */

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-list-item {
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list-item:hover,
.work-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list-link {
  display: block;
  position: relative;
  text-decoration: none;
}

.work-list-overlay {
  position: absolute;
  overflow: hidden;
}

.work-list-overlay-inner {
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list-item:hover .work-list-overlay-inner {
  transform: translateY(0);
}

.overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--primary-background-color);
}

.work-list-content {
  padding: 20px;
  border: 1px solid #eeeeee;
}

.work-list-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container.flex {
  display: flex;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-background-color);
}

.footer-adress {
  padding-top: 60px;
  margin-right: 70px;
}

.footer-list {
  line-height: 1.71;
}

.footer-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-link.map {
  color: var(--primary-background-color);
}

.footer-list-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
  color: var(--accent-color);
}

.footer-social {
  padding-top: 72px;
}

.footer-social-title {
  font-size: inherit;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.footer-social-list {
  display: flex;
  width: 206px;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop button {
  margin-top: 20px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 600px;
  padding: 30px;
  background-color: #ffffff;
}

.modal p {
  font-size: 48px;
  text-transform: uppercase;
}
